/* Image positioning - slightly upper inside the box */
.project-image-container {
  position: relative;
  overflow: hidden;
}

.project-image-container img {
  object-fit: cover;
  object-position: center top;
  transform: translateY(-5%);
  width: 100%;
  height: 100%;
}

/* Alternative: Using object-position for finer control */
.project-image {
  object-fit: cover;
  object-position: center 20%;
  width: 100%;
  height: 100%;
}

/* If using background-image approach */
.project-image-bg {
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
}



